@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Add Employee";
    Layout = "_LayoutIntro";
}

<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header"></div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile avatar-sm rounded-circle mb-2" <i class="bi bi-person-fill"></i> alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <!-- Profile picture upload button-->
                    <button class="btn btn-primary" type="button">Upload new image</button>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="card-title">Add new Employee</h4>
                </div>
                <div class="card-body">
                    <form>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (middle name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">First name</label>
                                <input class="form-control" id="inputFirstName" type="text" placeholder="Enter employee's first name" name="FirstName">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">Middle name</label>
                                <input class="form-control" id="inputFirstName" type="text" placeholder="Enter employee's middle name" name="MiddleName">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Last name</label>
                                <input class="form-control" id="inputLastName" type="text" placeholder="Enter employee's last name" name="LastName">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputNationality">Nationality</label>
                                <input class="form-control" id="inputNationality" type="text" placeholder="Enter employee's nationality" name="Nationality">
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputNumberOfPersonalId">Number Of Personal Id</label>
                                <input class="form-control" id="inputNumberOfPersonalId" type="number" placeholder="Enter employee's Id" name="NumberOfPersonalId">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Birthday</label>
                                <input class="form-control" id="inputBirthday" type="date" name="birthday" placeholder="Enter your birthday" name="DateOfBirth">
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">                          
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputHireDate">Gender</label>                             
                                <fieldset class="form-group">
                                    <select class="form-select" id="basicSelect" name="Gender">
                                        <option>Male</option>
                                        <option>Female</option>  
                                        <option>Other</option> 
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputGrade">Grade</label>
                                <fieldset class="form-group">
                                    <select class="form-select" id="basicSelect" name="Grade">
                                        <option>Higher Education</option>
                                        <option>Secondary Education</option>  
                                        <option>Primary Education</option> 
                                    </select>
                                </fieldset>
                            </div>
                        </div>
                        <!-- Form Row Contact-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter employee's email address" name="Email">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control" id="inputPhone" type="tel" placeholder="Enter employee's phone number" name="PhoneNumber">
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (ADDRESS)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="inputAddress">Address</label>
                                <input class="form-control" id="inputAddress" type="text" placeholder="Enter employee's address" name="Address">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputCity">City</label>
                                <input class="form-control" id="inputCity" type="text" placeholder="Enter employee's city" name="city">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputZip">Zip</label>
                                <input type="text" class="form-control" id="inputZip" placeholder="Enter employee's zip" name="PostalCode">
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputpDepartment">Department</label>                              
                                <fieldset class="form-group">
                                    <select class="form-select" id="basicSelect" name="Department">
                                        <option>Office</option>
                                        <option>Аccounting</option>  
                                        <option>Electricity</option> 
                                        <option>Мechanics</option> 
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputpPosition">Position</label>
                                <input class="form-control" id="inputPosition" type="text" placeholder="Enter employee's Position" name="Position">
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputHireDate">Hire Date</label>
                                <input class="form-control" id="inputHireDate" type="date" placeholder="Enter employee's hire date" name="HireDate">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputReleaseDate">Release Date</label>
                                <input class="form-control" id="inputReleaseDate" type="date" placeholder="Enter employee's release date" name="ReleaseDate">
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputHireDate">Status</label>                             
                                <fieldset class="form-group">
                                    <select class="form-select" id="basicSelect" name="Status">
                                        <option>Active</option>
                                        <option>Inactive</option>                                        
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputSalary">Salary</label>
                                <input class="form-control" id="inputSalary" type="number" placeholder="Enter employee's hourly salary " name="Salary">
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="button">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
