@using Core.Models.Transactions
@model AddCategoryTransactionViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_LayoutIntro";
}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Add new Category</h3>
                <p class="text-subtitle text-muted">Here you can add a new category.</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="HomeApp" asp-action="Index">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add new Category</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-xl px-4 mt-4">
        <div class="row">
            <div class="col-xl-8">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4 class="card-title">Add new Category</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <div class="row gx-3 mb-3">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputName">Name</label>
                                    <input class="form-control" id="inputName" type="text" asp-for="Name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<partial name="_ValidationScriptsPartial" />
}
