@using Core.Models.Transactions
@using Microsoft.AspNetCore.Identity
@using Core.Models
@model CategoryListViewModel
@{
    ViewData["Title"] = "All Categories";
    Layout = "_LayoutIntro";
}

<link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>All Cost Caterories</h3>
                <p class="text-subtitle text-muted">Here are all the categories and their number of costs. Click on a category info for more information.</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="HomeApp" asp-action="Index">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">All costs by caterory</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="cardCosts">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @if (Model.Categories.Count != 0)
        {
            @foreach (var item in Model.Categories)
            {
                <div class="col">
                    <div class="box" style="--clr:@item.Color;">
                        <div class="content">
                            <div class="icon"><ion-icon name="@item.Icon"></ion-icon></div>
                            <div class="text">
                                <h3>@item.Name</h3>
                                <a href="/Transaction/CategoryTransactionsList?categoryId=@item.Id">@item.TransactionCount costs info</a>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>There are no categories added!</p>
        }
    </div>
</div>

@section Scripts{
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
}
