@{
    ViewData["Title"] = "Home Page";
}

    <div class="intro">
        <div class="container">
            <div class="masthead-subheading">Welcome To</div>
            <div class="masthead-heading">WiseEasyData</div>
            <div class="masthead-subheading">Data at your fingertips any time, any place.</div>
            <a class="btn btn-primary btn-xl text-uppercase" asp-area="" asp-controller="Home" asp-action="About">GET STARTED</a>
        </div>
    </div>
