@{
    ViewData["Title"] = "Dashboard";
    Layout = "_LayoutIntro";
}
<div class="intro">
    <div class="container">
        <div class="masthead-subheading">Welcome To Admin Page</div>
        <div>
            <a class="btn btn-primary btn-sm text-uppercase" asp-area="Admin" asp-controller="User" asp-action="All">GET STARTED</a>
        </div>
    </div>
</div>
