@using Microsoft.AspNetCore.Identity

<ul class="menu">
    <li class="sidebar-title">Menu</li>

    <li class="sidebar-item active ">

        <a class="sidebar-link" asp-area="" asp-controller="HomeApp" asp-action="Index">
            <i class="bi bi-grid-fill"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="sidebar-item  has-sub">
        <a href="#" class='sidebar-link'>
            <i class="bi bi-person-fill"></i>
            <span>Profil</span>
        </a>
        <ul class="submenu ">
            <li class="submenu-item ">
                <a class="sidebar-link" asp-area="" asp-controller="User" asp-action="ListProfile">Your Profile</a>
            </li>
            <li class="submenu-item ">
                <a class="sidebar-link" asp-area="" asp-controller="User" asp-action="Create">Create Profile</a>
            </li>
            <li class="submenu-item ">
                <a class="sidebar-link" asp-area="" asp-controller="User" asp-action="Edit">Edit Profile</a>
            </li>
              <li class="submenu-item ">
                <form class="sidebar-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="sidebar-link btn btn-link">Logout</button>
                </form>
            </li>
        </ul>
    </li>
     <li class="sidebar-item  has-sub">
        <a href="#" class='sidebar-link'>
            <i class="bi bi-globe"></i>
            <span>Clients</span>
        </a>
        <ul class="submenu ">
            <li class="submenu-item ">
                <a class="sidebar-link" asp-area="" asp-controller="Client" asp-action="All">All Clients</a>
            </li>
            <li class="submenu-item ">
                <a class="sidebar-link" asp-area="" asp-controller="Client" asp-action="Add">Add new Client</a>
            </li>                 
        </ul>
    </li>
     <li class="sidebar-item  has-sub">
        <a href="#" class='sidebar-link'>
            <i class="bi bi-people-fill"></i>
            <span>Employees</span>
        </a>
        <ul class="submenu ">
            <li class="submenu-item ">
                <a class="sidebar-link" asp-area="" asp-controller="Employee" asp-action="All">All Employees</a>
            </li>
            <li class="submenu-item ">
                <a class="sidebar-link" asp-area="" asp-controller="Employee" asp-action="Add">Add new Employee</a>
            </li>                 
        </ul>
    </li>

    <li class="sidebar-item  has-sub">
        <a href="#" class='sidebar-link'>
            <i class="bi bi-receipt"></i>
            <span>Costs</span>
        </a>
        <ul class="submenu ">
            <li class="submenu-item ">
               <a class="sidebar-link" asp-area="" asp-controller="Cost" asp-action="All">All costs</a>
            </li>
             <li class="submenu-item ">
               <a class="sidebar-link" asp-area="" asp-controller="Cost" asp-action="AllCostsByCategory">All costs by category</a>
            </li>
            <li class="submenu-item ">
                 <a class="sidebar-link" asp-area="" asp-controller="Cost" asp-action="Add">Add new costs</a>
            </li>       
             <li class="submenu-item ">
                 <a class="sidebar-link" asp-area="" asp-controller="Cost" asp-action="Add">Add new Category</a>
            </li> 
        </ul>
    </li>
</ul>